<%- include("header.ejs")%>
<%- include("nav.ejs")%>
<link rel="stylesheet" href="stylesheets/login.css">


  

<div class="form">

  
  <h1>Login your account</h1>
  <form action="/login" method="post">
    <input type="text" name="username" placeholder="Enter your name"> <br> <br>
    <input type="password" name="password" placeholder="Enter your password"> <br> <br>
    <button>login</button>
  </form>
  
</div>
  
  
  <%- include("footer.ejs")%>