<%- include("header.ejs")%>
<%- include("nav.ejs")%>
<link rel="stylesheet" href="stylesheets/reset.css">

<form action="/forget/<%= id%>" method="post">
    <h1>Ener OTP and set a new password</h1>
    <input type="number" name="token" placeholder="enetr otp....">
    <input type="password" name="newpassword" placeholder="Enter your new password"> <br> <br>
    <button>reset</button> <br> <br>
  </form>



  <%- include("footer.ejs")%>